.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "SOFT"0,
        "WONK"0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.66em;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    background-color: #fff;
    border-radius: 0.5em 0.5em 0 0;
    font-family: "Montserrat";
    font-weight: 400;
}

.product-card__image {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.product-card__content {
    margin: 2em;
    color: hsl(228, 12%, 48%);
}

.product-card__class {
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font-size: 0.75em;
    margin-bottom: 0.75em;
}

.product-card__name {
    font-size: 1.75em;
    font-family: "Fraunces";
    color: hsl(212, 21%, 14%);
    margin-bottom: 0.75em;
}

.product-card__about {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.product-card__price {
    font-family: "Fraunces", sans-serif;
    border-collapse: collapse;
    margin-bottom: 0;
    flex: 0.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.product-card__price1 {
    color: hsl(158, 36%, 37%);
    font-size: 1.75em;
    font-weight: 800;
}

.product-card__price2 {
    font-size: 0.75em;
    text-decoration: line-through;
}

.product-card__addtocart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border-radius: 0.5em;
    margin-top: 1em;
    gap: 0.75em;
    font-weight: 800;
    font-size: 0.75em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.product-card__cart-icon {
    width: 1em;
}

@media (min-width: 48em) {
    .product-card {
        flex-direction: row;
        width: 40em;
        height: 28em;
        align-items: stretch;
        border-radius: 0.5em;
        overflow: hidden;
    }

    .product-card__image-container {
        flex: 1;
        width: 50%;
    }

    .product-card__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }

    .product-card__content {
        box-sizing: border-box;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
    }

    .product-card__contcont {
        box-sizing: border-box;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2em;
    }

    .product-card__name{
        font-size: 2.2em;
        letter-spacing: 0em;
        font-weight: 800;
        line-height: 100%;
    }

    .product-card__about {
        font-size: 1em;
    }

    .product-card__price {
        gap: 2em;
    }

    .product-card__price1 {
        font-size: 2em;
    }

    .product-card__price2 {
        font-size: 1em;
    }

    .product-card__class,
    .product-card__name,
    .product-card__about {
        margin-bottom: 0;
    }
}